#bulb{
    padding: 50px;
    border: 1px solid black;
    border-radius: 50%;
    width: fit-content;
    
}

button{
    margin: 20px;
}

#smartBulb{
    padding: 50px;
   
    border: 1px solid black;
    border-radius: 50%;
    width: fit-content;
}

.on{
    background-color: yellow;
}

#MainB{
    display: flex;
    justify-content: space-around;
    width: 100%;

}

#text{
    padding: 20px ;
    border: 1px solid black;
    width: 50%;
}

#colors{
    width: 50%;
    display: flex;
    flex-direction: column;
}