body{
    background-color: rgb(52, 83, 222);
}
.mainbody{
    display: flex;
}

.loginform{
    width: 40vw;
     height: 500px;
    margin: 20px;
    background-color: white;
     padding: 40px;
      border-radius: 5px;
}
#emailfield, #pass{
    /* width: 90%; */
    /* height: 30px; */
    /* background-image: url(https://cdn-icons-png.flaticon.com/128/2604/2604334.png); */
    border: none;
    margin: 10px;
    border-radius: 5px;
    border-color: white;
    padding-left: 5px;
    color: gray;  
    padding: 10px;
}

img
{
    margin-top: 20px;
    width: 20px;
    height: 20px;
}
.remember{
    margin-top: 20px;
}
#reme{
    margin-right: 20rem;
}
.submit{
    margin-top: 30px;
    text-align: center;
}
a{
    text-decoration: none;
    color: rgb(60, 109, 206);
}

#loginbutton{
   width: 90%;
   padding: 15px;
   background-color: rgb(47, 114, 185);
   color: white;
   border-radius: 10px;
   border: 0;
}
#Signup{
    text-align: center;
    margin-top: 30px;
}

.registrationform{
    width: 40vw;
     height: 600px;
    margin: 20px;
    background-color: white;
     padding: 40px;
      border-radius: 5px;
}

