
@import url('https://fonts.googleapis.com/css2?family=Emblema+One&family=Lobster&family=Merienda:wght@300..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oleo+Script:wght@400;700&family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&family=Satisfy&display=swap');







.oleo-script-regular {
  font-family: "Oleo Script", system-ui !important;
  font-weight: 400;
  font-style: normal;
}





#shadow:hover{
    text-shadow: 0px 0px 3px white !important;
}