#d1
{
    border: 1px solid black;
    /* background-color: lightblue; */
    border-radius: 40px;
    margin: 20px;
    padding: 20px;
    width: 200px;
    background-color: aquamarine;
}   

#d1 h1 {
    background: linear-gradient(90deg, red, blue);
    background-clip: text;
    color: transparent;
   -webkit-text-stroke: 0.5px white;
}
