* {
  padding: 0;
  margin: 0;
}
#Navbar {
  background-color: mediumblue;
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 20px;
  position: sticky;
  top: 0;
}
.links {
  display: flex;
  gap: 20px;
}
